{% extends 'base.html.twig' %}

{% block title %}Point index{% endblock %}

{% block body %}
    <h1  class="pb-2 border-bottom mb-4">Point index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Point</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point in points %}
            <tr>
                <td>{{ point.id }}</td>
                <td>{{ point.point }}</td>
                <td>{{ point.createdAt ? point.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_point_show', {'id': point.id}) }}">show</a>
                    <a href="{{ path('app_point_edit', {'id': point.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_point_new') }}">Create new</a>
{% endblock %}
