{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block body %}
    <h1 class="pb-2 border-bottom mb-4">Groupes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Date de creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>{{ groupe.nom }}</td>
                <td>{{ groupe.createAt ? groupe.createAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_groupe_show', {'id': groupe.id}) }}">Modifier</a>
                    <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-primary"  href="{{ path('app_groupe_new') }}">Ajouter</a>
{% endblock %}
