
{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.groupe, 'Groupe ') }}
        <div class="input-group">
           
            {{ form_widget(form.groupe, {'attr': {'class': 'form-select'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.nom, 'Nom de la peronne') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <button class="btn btn-primary my-4">{{ button_label|default('Enrégistrer') }}</button>
{{ form_end(form) }}
